/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Lusitana&family=Nunito:wght@300&display=swap');

body {
    /* background-color: rgb(240, 239, 239); */
    background-color: #fff9ed;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #000;
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Domine', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Domine', sans-serif;
   letter-spacing: 0.25px;
   font-size: 2rem;
}

h3 {
    font-family: 'Domine', sans-serif;
    letter-spacing: 0.25px; 
    font-size: 2rem;
    margin: 0;
}

h4 {
    font-family: 'Domine', sans-serif;
    letter-spacing: 0.25px; 
    margin: 0;
}

#index-heading {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', monospace;
    letter-spacing: 2pt;
    text-transform: uppercase;
    margin-bottom: 5px;
    /* border-top: #000 1px solid; */
}
#header-text {
    /* flex-basis: 80%;
    display: flex; */
    padding: 2%;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2%;
}

header a {
    font-family: 'Nunito', monospace;
    letter-spacing: 2pt;
    text-transform: uppercase;
}
a {
    font-family: monospace;
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Lusitana', monospace;
}
