@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Lusitana&family=Nunito:ital,wght@0,300;1,300&display=swap');

.story-card {
    margin: 10px;
    /* border: 1px solid #000; */
    padding: 20px;
    background-color: white;
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#latest-stories {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

.story-card-text h3{
    margin-bottom: 2%;
}

.story-card-text h4{
    font-family: 'Nunito';
    font-style: italic;
}

.story-card-text h3:hover {
    text-decoration: underline;

}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-wrapper {
    display:flex;
    flex-direction: column;
    background-color: white;
    padding: 5%;
}
#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
}

#story-wrapper a {
    font-family: 'Nunito';
    font-size: 16px;
    letter-spacing: 2pt;
}

#story-wrapper a:hover {
    text-decoration: underline;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-heading {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', monospace;
    letter-spacing: 2pt;
    text-transform: uppercase;
    font-size: 24px;
    /* margin-bottom: 5px; */
    /* border-top: #000 1px solid; */
}

#profile-story-titles {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-story-titles li {
    font-family: 'Lusitana', monospace;
    font-size: 16px;
}

#profile-title {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', monospace;
    letter-spacing: 2pt;
    text-transform: uppercase;
    font-size: 24px;
    /* margin-bottom: 5px; */
    /* border-top: #000 1px solid; */
}

#profile-author {
    display: flex;
    justify-content: center;
    letter-spacing: 2pt;
}

#user-details {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2%;
}

hr {
    width: 30px;
    background-color: black;
    height: 2px;
    margin: 1%;
}