{% extends 'base.html' %}
{% load static %} 

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}"/>
{% endblock %} 

{% block content %}

<h2> Author Profile: {{ customuser.username }}</h2>

<h3>Titles of Works</h3>

<ul>
{% for story in customuser.newsstory_set.all %}
    <li>{{ story.title }}</li>
{% endfor %}
</ul>
<h4> All Articles</h4>

<div id="all-stories">
    {% if author_stories %} 
      {% for story in author_stories %} 
        {% include "news/storyCard.html" with story=story %} 
      {% endfor %} 
    {% else %}
      <p>No stories are available.</p>
    {% endif %}
  </div>

{% endblock %}